[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:NENEILYA/.nvim.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:NENEILYA/.tmux.git
[submodule ".config/kitty"]
	path = .config/kitty
	url = git@github.com:NENEILYA/.kitty.git
